@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-align: center;
}

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-align: left;
}

.homepage-header h1 {
  font-weight: 700;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f33;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 50vh;
  text-align: left;
}

.video-container h1 {
  font-weight: 700;
  margin-right: 40px;
}

.homepage-header .homepage-header-row {
  color: black
}

.homepage-header .homepage-header-row .card {
  margin-bottom: 25px;
}

.homepage-header .card .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1 {
  font-weight: 700
}

.features {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.features .card {
  margin-bottom: 16px;
}

.features h1 {
  color:white;
  margin-top: 16px;
}

.join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f33;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 25vh;
  color: white;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100vh;
  color: white;
}

.about-header h1 {
  font-weight: 700;
}

.about-nl {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f33;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 75vh;
  color: white;
}

.about-nl h1 {
  font-weight: 700;
}

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 75vh;
  color: white;
}

.about-main h1 {
  font-weight: 700;
}

.about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f33;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 75vh;
  color: white;
}

.about-contact h1 {
  font-weight: 700;
}

.pricing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 50vh;
  color: white;
}

.pricing-header h1 {
  font-weight: 700;
}

.pricing-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f33;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.pricing-boxes h1 {
  color: white;
  font-weight: 700;
  margin-top: 16px;
}

.pricing-boxes h5 {
  color: white;
  font-weight: 400;
  margin-bottom: 16px;
}

.pricing-boxes .card {
  margin-bottom: 16px;
}

.footer{
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
}

.footer a {
  text-decoration: none!important;
  color: white;
  font-weight: 700;
}

.heart{
  color:#e25555;
}

.footer a:hover {
  text-decoration: none!important;
  color: white;
}

* {
	scrollbar-color: #202324 #454a4d;
}