@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-align: center;
}

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-align: left;
}

.homepage-header .homepage-header-row {
  color: black
}


.head h1 {
  font-weight: 700
}

* {
	scrollbar-color: #202324 #454a4d;
}